<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>BoolzApp</title>
</head>
<body>
  <!-- ROOT CONTAINER VUEJS -->
  <div id="root" class="flex flex-center">
    <!-- CONTAINER CENTRALE -->
    <div class="container flex">
      <!-- SIDEBAR -->
      <div class="sidebar">
        <!-- SIDEBAR SUPERIORE -->
        <div class="sideup height-90 flex flex-between">
          <div class="avatar-container flex flex-center">
            <img :src="'img/avatar' + user.avatar + '.jpg'" alt="">
            <div class="user-name">{{user.name}}</div>
          </div>
          <div class="icons-container flex flex-center">
            <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </div>
        </div>
        <!-- END SIDEBAR SUPERIORE -->
        <!-- SIDEBAR INFERIORE -->
        <div class="sidedown height-calc-90">
          <!-- NOTIFICHE -->
          <div class="notification height-90 flex flex-center-v">
            <div class="bell flex flex-center">
              <i class="fa fa-bell-slash" aria-hidden="true"></i>
            </div>
            <div class="bell-text">
              <div>Ricevi notifiche di nuovi messaggi</div>
              <a href="#">Attiva notifiche Desktop</a>
            </div>
          </div>
          <!-- END NOTIFICHE -->
          <!-- LISTA CONTATTI -->
          <div class="list-container height-calc-90">
            <div class="search-container">
              <input class="search" placeholder="Cerca o inizia una nuova chat" type="text" name="" value="">
            </div>
            <div class="contacts height-calc-60">
              <div  v-for='(element,index) in contacts'  class="contact height-90  flex flex-align" @click='changeContact(index)'>
                <img :src="'img/avatar' + element.avatar + '.jpg'" alt="">
                <div class="user-name">{{element.name}}</div>
              </div>
            </div>
          </div>
          <!-- END LISTA CONTATTI -->
        </div>
        <!-- END SIDEBAR INFERIORE -->
      </div>
      <!-- END SIDEBAR -->
      <!-- MASTER -->
      <div class="master flex flex-end-col">
        <!-- MASTER CONTENT -->
        <div class="main height-calc-90">
          <!-- BARRA CONTATTO -->
          <div class="main-bar height-90 flex flex-between">
            <div class="selected-contact flex flex-center">
              <img :src="'img/avatar' + contacts[selectedContact].avatar + '.jpg'" alt="">
              <div class="user-name">{{contacts[selectedContact].name}} <br>
                <span>Ultimo accesso {{lastConnection(selectedContact)}}</span>
              </div>
            </div>
            <div class="icons-container flex flex-center">
              <i class="fa fa-search" aria-hidden="true"></i>
              <i class="fa fa-paperclip" aria-hidden="true"></i>
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
          </div>
          <!-- END BARRA CONTATTO -->
          <!-- MAIN CONTENT -->
          <div class="main-content height-calc-90">
            <div v-for='element in contacts[selectedContact].messages' :class="element.status">
              {{element.text}}
              <div>{{element.date}}</div>
            </div>
          </div>
          <!-- END MAIN CONTENT -->
        </div>
        <!-- END MASTER CONTENT -->
        <!-- INPUT BAR -->
        <div class="bottom-bar height-90 flex flex-center">
          <i class="fa fa-smile-o" aria-hidden="true"></i>
          <input class="input-message" v-model="user.newMessage" @keyup.enter="insertMessage" type="text" name="" value="">
          <i class="fa fa-microphone" aria-hidden="true"></i>
        </div>
        <!-- END INPUT BAR -->
      </div>
      <!-- END MASTER -->
    </div>
    <!-- END CONTAINER CENTRALE -->
  </div>
  <!-- END ROOT CONTAINER VUEJS -->
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
